<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKXd4pPrbzjfob7D7QPkAR_z13DNAPM64</string>
	<key>GCM_SENDER_ID</key>
	<string>823750294470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.alihsan.mobile</string>
	<key>PROJECT_ID</key>
	<string>alihsan-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alihsan-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823750294470:ios:ae6f18a2dddd41195110c7</string>
</dict>
</plist>